name: Intel Fortran Compiler (ifx) on Windows
run-name: minpack compiled with Intel Fortran Compiler (ifx) on Windows
on:
  push:
    paths-ignore:
      - "**/*.md"
      - "doc/**"
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "doc/**"

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        USE_DOWNLOAD: ['OFF']
        CMAKE_BUILD_TYPE: ['Release', 'Debug']
        LIBRARY_KIND: ['SHARED', 'STATIC']
        toolchain:
          - {compiler: intel, version: '2025.0'}

    steps:

      - name: Restore assets
        id: restore-assets
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: assets-cache
          key: minpack-assets
          enableCrossOsArchive: true

      - name: Checkout assets
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        if: ${{ matrix.USE_DOWNLOAD=='OFF' && steps.restore-assets.outputs.cache-hit != 'true' }}
        with:
          ref: assets-ci-v1
          path: assets

      - name: Place minpack sources in the cache directory
        if: ${{ matrix.USE_DOWNLOAD=='OFF' && steps.restore-assets.outputs.cache-hit != 'true' }}
        shell: pwsh
        run: |
          New-Item "assets-cache" -ItemType Directory | Out-Null;
          foreach ($current_file in "disclaimer", "chkder.f", "dogleg.f", "dpmpar.f", "enorm.f", "fdjac1.f", "fdjac2.f", "hybrd1.f", "hybrd.f", "hybrj1.f", "hybrj.f", "lmder1.f", "lmder.f", "lmdif1.f", "lmdif.f", "lmpar.f", "lmstr1.f", "lmstr.f", "qform.f", "qrfac.f", "qrsolv.f", "r1mpyq.f", "r1updt.f", "rwupdt.f")
          {
            $filePath = Join-Path -Path "assets" -ChildPath $current_file;
            Copy-Item -Path $filePath -Destination "assets-cache";
          }

      - name: Save assets
        if: ${{ matrix.USE_DOWNLOAD=='OFF' && steps.restore-assets.outputs.cache-hit != 'true' }}
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: assets-cache
          key: minpack-assets
          enableCrossOsArchive: true

      - name: Checkout repository to minpack-builder directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: minpack-builder

      - name: Place minpack sources in the correct directory for minpack-builder
        if: ${{ matrix.USE_DOWNLOAD=='OFF' }}
        shell: pwsh
        run: |
          foreach ($current_file in "disclaimer", "chkder.f", "dogleg.f", "dpmpar.f", "enorm.f", "fdjac1.f", "fdjac2.f", "hybrd1.f", "hybrd.f", "hybrj1.f", "hybrj.f", "lmder1.f", "lmder.f", "lmdif1.f", "lmdif.f", "lmpar.f", "lmstr1.f", "lmstr.f", "qform.f", "qrfac.f", "qrsolv.f", "r1mpyq.f", "r1updt.f", "rwupdt.f")
          {
            $filePath = Join-Path -Path "assets-cache" -ChildPath $current_file;
            Copy-Item -Path $filePath -Destination "minpack-builder";
          }

      - name: Set environment variables to build and install directories
        shell: pwsh
        run: |
          Add-Content $env:GITHUB_ENV "BUILDDIR=$env:RUNNER_TEMP/build"
          Add-Content $env:GITHUB_ENV "INSTALLDIR=$env:RUNNER_TEMP/install-${{ matrix.toolchain.compiler }}"

      - uses: fortran-lang/setup-fortran@47809fdb6e637da656ce9ada436527b240c1287f # v1.8.1
        id: setup-fortran
        with:
          compiler: ${{ matrix.toolchain.compiler }}
          version: ${{ matrix.toolchain.version }}

      - name: Configure the build of minpack 
        shell: cmd
        run: |
          IF "${{ matrix.LIBRARY_KIND }}"=="SHARED" (
            cmake -G "NMake Makefiles" -DBUILD_SHARED_LIBS=ON -DBUILD_STATIC_LIBS=OFF -DCMAKE_BUILD_TYPE=${{ matrix.CMAKE_BUILD_TYPE }} -DUSE_DOWNLOAD=${{ matrix.USE_DOWNLOAD }} --install-prefix %INSTALLDIR% -S minpack-builder -B %BUILDDIR%
          ) ELSE IF "${{ matrix.LIBRARY_KIND }}"=="STATIC" (
            cmake -G "NMake Makefiles" -DBUILD_SHARED_LIBS=OFF -DBUILD_STATIC_LIBS=ON -DCMAKE_BUILD_TYPE=${{ matrix.CMAKE_BUILD_TYPE }} -DUSE_DOWNLOAD=${{ matrix.USE_DOWNLOAD }} --install-prefix %INSTALLDIR% -S minpack-builder -B %BUILDDIR%
          ) ELSE (
            ECHO Unknown LIBRARY_KIND in the build matrix
            EXIT /B 1
          )

      - name: Build minpack
        shell: cmd
        run: cmake --build %BUILDDIR% --config ${{ matrix.CMAKE_BUILD_TYPE }}

      - name: Install minpack
        shell: cmd
        run: cmake --install %BUILDDIR% --config ${{ matrix.CMAKE_BUILD_TYPE }}